.App {
  text-align: center;
}

.category-container, .category-detail-container {
  padding: 20px;
  text-align: center;
}

.category-list, .meal-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.category-card, .meal-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category-card:hover, .meal-card:hover {
  transform: scale(1.05);
}

.category-image, .meal-image {
  width: 100%;
  border-radius: 8px;
}

.category-name, .meal-name {
  font-size: 1.2em;
  margin-top: 10px;
}

.category-description {
  font-size: 0.9em;
  color: #666;
  margin-top: 10px;
}

.navbar {
  background-color: rgb(123, 139, 139);
}

.navbar .nav-link {
  color: #ffffff; /* Warna putih */
}

.navbar .nav-link:hover {
  color: #535353; /* Warna merah tomat saat hover */
}

.about {
  padding-top: 75px;
  margin-top: auto;
}